<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook-square" ></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin" ></i>
        </div>
        <div class="f-info-brand">&copy; Plan My Trip | Project by Bhavana Vijay Manjulkar</div>
    </div>
</footer>